$green: #32A993;
$orange: #E99362;

input, input:focus {
    outline:none!important;
}

.green {
    color:$green;
}

.form-content {
    display:none;
}

.form-content.active {
    display:block;
}

.btn-green {
    background: rgba(50, 169, 147, 1.0);
    background: -webkit-linear-gradient(left, rgba(50, 169, 147, 1.0), rgba(152, 201, 136, 1.0));
    background: -moz-linear-gradient(left, rgba(50, 169, 147, 1.0), rgba(152, 201, 136, 1.0));
    background: linear-gradient(to right, rgba(50, 169, 147, 1.0), rgba(152, 201, 136, 1.0));
}

.btn-radius {
    border-radius:5px;
}

#flex-login {
    padding:70px;
    background-color:rgba(255,255,255,0.7);
    width:750px;
    margin:0 auto;

    .forgot-link {
        float:right;
    }

    h4 {
        font-size:40px;
        font-weight:bold;
        letter-spacing: -1.5px;
    }

    a {
        color: $green;
    }

    label {
        font-size:18px;
    }

    .form_footer,
    .form_field {
        margin-top:30px;
    }

    input[type=text], input[type=email], input[type=password] {
        border-radius:5px;
        border:1px solid #32A993;
        padding:10px 15px;
        background-color:transparent;
        color:#000;
        box-shadow:none;
        width:100%;
        margin-top:10px;
    }

    input[type=submit],
    button[type=submit] {
        @extend .btn-green;
        @extend .btn-radius;
        border:1px solid transparent;
        color:#fff;
        width:100%;
    }

    p {
        margin-top: 15px;
    }
}